<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calendarwidget">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".CalendarWidgetProvider"
            android:enabled="true">
            <intent-filter>
<!--                //监听日期的变化-->
                <action android:name="android.intent.action.DATE_CHANGED" />
<!--                //同时监听日期和时间的变化-->
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="com.nwd.android.calendarwidget.timetick" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calendarwidgetinfo" />
        </receiver>

        <service
            android:name=".UpdateService">
        </service>
    </application>

</manifest>